body {
  font-family: 'Avenir', sans-serif;
}

.container {
  width: 1000px;
  margin: 0px auto;
}

h1 {
  font-size: 75px;
  margin: 0px;
  padding-top: 50px;
}

hr {
  width: 500px;
  border-style: solid;
  color: #ccc;
  margin: 50px auto;
}

#name {
  color: #FF530D;
}

p {
  font-size: 20px;
}

.message {
  color: #FF530D;
}

.button {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: block;
  width: 400px;
  text-align: center;
  font-size: 40px;
  padding: 10px 15px;
  margin: 150px auto;
  border: 2px solid #FF530D;
  border-radius: 5px;
}

.button:hover {
  background-color: #FF530D;
  color: white;
}

.results-text {
  margin: 50px 0px;
}

.results-text h4 {
  font-size: 40px;
  margin: 0px;
}

.graph-container {
  margin-top: 75px;
}

.graph {
  width: 500px;
  height: 500px;
  float: left;
}

.verified {
  float: left;
  margin-left: 20px;
  width: 480px;
}

.verified p {
  margin: 0px;
  font-weight: bold;
}

.verified_user {
  float: left;
  margin: 20px;
}

.verified_user img {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px #aaa;
}

.count {
  font-size: 25px;
  text-anchor: middle;
  dominant-baseline: central;
}

footer {
  height: 50px;
  padding: 25px 0px;
  clear: both;
}

footer p {
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #aaa;
  padding: 0px;
  line-height: 50px;
}

footer p a {
  text-decoration: none;
  color: #2B3A42;
}

footer p a:hover {
  text-decoration: underline;
}
